/*police d'ecriture de toute la page*/
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: 0;
}

/*disposition barre du footer*/
.footer-container footer {
    display : flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center; 
    background: black;
    opacity: 0.8;
    border-top: 20px solid #e44d26;
    color: white;
    text-decoration: none; 
}

/*blanc du footer et partie texte du footer*/
.bouton_footer a{
    color: white;
    text-decoration: none;
}

/*taille logo footer*/
.logo img{
    width: 8rem;
}

/*redimmenssionnement logo instagram,facebbok, twitter*/
.reseaux img{
    width: 3rem;
}

/*Affichage musique*/
iframe{
    border-radius:12px;
    width: 70%;
    height: 380px;
}

/*alignement des block de spotify*/
.musique{
    display : flex;
    align-items: center;
    align-content: center; 
}

/*tête du site scroll*/
#header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,.8);
  height: 62px;
  
  transition: top 0.3s;
  transition-delay: 0.2s;
}

#header.hidden {
  top: -80px;
}

/*mise en place de la navbar*/
.fullNavbar{
    display : flex;
    justify-content: space-between;
}

/*parametre de la navbar*/
header nav a{
    text-decoration: none;
    line-height: 60px;
    color: white;
    font-size: 22px;
    transition: backgrounf-color 300ms;
    padding: 20px 10px;
}

/*blanc qui apparait sur la nav bar quand on passe dessus*/
header nav a:hover{
    background-color: rgba(255,255,255,0.2);
}

/*background_Accueil*/
.backgroundAccueil{
    background-image:url(../img/fond_accueil.png);
    height: 768px;
    width: 100%;
}

/*espacement entre les icones footer*/
.site_officiel,
.logo_insta,
.logo_facebook{
    margin-right: 70px;
}

/*espacement entre les icones footer 2*/
.contact{
    margin-left: 50px;
}

/*display flex footer*/
.bouton_footer,
.reseaux{
    display: flex;
}

.logo_twitter{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#barre{
    height: 10px;
    
    border-radius: 0px 50px 50px 0px;
    position: fixed; 
    bottom: 0;
    background: linear-gradient(to right, #f12711, #f5af19)
}


