*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/*paramètres de la page + police d'ecriture'*/
body{
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*disposition barre du footer*/
.footer-container footer {
    display : flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    background: black;
    opacity: 0.8;
    border-top: 20px solid #e44d26;
    color: white;
    text-decoration: none;
}

/*blanc du footer et partie texte du footer*/
.bouton_footer a{
    color: white;
    text-decoration: none;
}

/*taille logo footer*/
.logo img{
    width: 8rem;
}

.logo_main img{
    width: 4.5rem;
}

/*redimmenssionnement logo instagram,facebbok, twitter*/
.reseaux img{
    width: 3rem;
}

/*Affichage musique*/
iframe{
    border-radius:12px;
    width: 70%;
    height: 380px;
}

/*alignement des block de spotify*/
.musique{
    display : flex;
    align-items: center;
    align-content: center;
}

/*tête du site scroll*/
#header{
    z-index:150;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    width: 100%;

    transition: top 0.3s;
    transition-delay: 0.2s;
}

#header.hidden {
    top: -80px;
}

/*mise en place de la navbar*/
.fullNavbar{
    display : flex;
    justify-content: space-between;
}

/*.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
/*parametre de la navbar*/
header nav a{
    text-decoration: none;
    line-height: 60px;
    color: white;
    font-size: 22px;
    transition: backgrounf-color 300ms;
    padding: 17px 10px;
}

/*blanc qui apparait sur la nav bar quand on passe dessus*/
header nav a:hover{
    background-color: rgba(255,255,255,0.2);
}

/*background_Accueil*/
/*.backgroundAccueil{
    background-image:url(../img/fond_accueil.png);
    height: 768px;
    width: 100%;
}*/

/*espacement entre les icones footer*/
.site_officiel,
.logo_insta,
.logo_facebook{
    margin-right: 70px;
}

/*espacement entre les icones footer 2*/
.contact{
    margin-left: 50px;
}

/*display flex footer*/
.bouton_footer,
.reseaux{
    display: flex;
}

/*insertion logo twitter*/
.logo_twitter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

/*inseretion de la barre du bas de chargement horizontale*/
#barre{
    height: 10px;
    border-radius: 0px 50px 50px 0px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to right, #f12711, #f5af19)
}

/*style de chaque page ensemble*/
#main-content{
    /*    height: 500vh;*/
    background: linear-gradient(#052A50, #e66465);

}

/*parametre des nuages*/
.banner,
.clouds{
    position: absolute;
    top: -61px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

/*parametre des nuages2*/
.banner,
.clouds img{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    animation: animate calc(10s * var(--i)) linear infinite;
}

/*animation des nuages*/
@keyframes animate{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

/*insertion du logo dragon page accueil*/
.logo_dragon{
    margin-top: 17%;
    margin-left: 8%;
    position: relative;
    z-index: 50;
}

/*insertion étoiles page accueil*/
section img#stars{
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*insertion de la lune page accueil*/
section img#moon{
    mix-blend-mode: screen;
    top: 20%;
    left: 46%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/*insertion krokmou page accueil*/
section img#krokmou{
    margin-top: 20%;
    left: 63%;
    width: 30%;
    position: relative;
    object-fit: cover;
}

/*insertion bouton page accueil*/
#bouton_accueil{
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
    padding: 1.3% 5%;
    transition: all .25s;
    bottom: 12%;
    left: 16%;
    position: absolute;
}

/*parametres bouton page accueil*/
#bouton_accueil::after, #bouton_accueil::before{
    border: 3px solid #fff;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
    transition: all .25s;
}

#bouton_accueil:hover::after{
    transform: translate(-5px, -5px);
}

#bouton_accueil:hover::before{
    transform: translate(5px, 5px);
}

/*image de haut de chaque page*/
.image_studio_haut{
    width: 100%;
}

/*insertion table page dragon*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*fondu dans les onglets page dragons*/
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*positionnement de chaque icone page dragon*/
.character-item {
    width: 22%;
    margin: 30px 1%;
}

/*parametre icone de chaque dragon page dragon*/
.character-item, .character-container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    justify-content: space-evenly;
    align-items: center;
}

/*position des images dragons page dragon*/
.affichage_dragon{
    display: flex;
    list-style-type: disc;
    justify-content: space-around;
    align-items: center;
}

.text_dragon{
    text-decoration: none;
    color: white;
    margin-top: 35%;
}

/*.thumbnail img{
    width: 200px;
    transition: transform .1s;
}

.thumbnail img:hover{
    -ms-transform: scale(1.3);  IE 9 
    -webkit-transform: scale(1.3);  Safari 3-8 
    transform: scale(1.3);
}*/

/*reponsive*/
@media screen and (max-width: 900px){
    .fullNavbar{
        display: none;

    }
}



/*image qui bouge de gauche à droite - page accueil*/
.snip1 {
    position: absolute;
    overflow: hidden;
    margin: 3%;
    min-width: 50%;
    max-width: 54%;
    height: 70%;
    width: 100%;
    top: 150%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.snip1:hover img,
.snip1.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}


.snip2 {
    position: absolute;
    overflow: hidden;
    margin: 3%;
    min-width: 50%;
    max-width: 54%;
    height: 70%;
    width: 100%;
    top: 230%;
    margin-left: 43%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip2 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.snip2:hover img,
.snip2.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}

.snip3 {
    position: absolute;
    overflow: hidden;
    margin: 3%;
    min-width: 50%;
    max-width: 54%;
    height: 70%;
    width: 100%;
    top: 310%;
    margin-left: 3%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip3 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.snip3:hover img,
.snip3.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}

.snip4 {
    position: absolute;
    overflow: hidden;
    margin: 3%;
    min-width: 50%;
    max-width: 54%;
    height: 70%;
    width: 100%;
    top: 390%;
    margin-left: 43%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip4 img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.snip4:hover img,
.snip4.hover img {
    -webkit-transform: translateX(130px);
    transform: translateX(130px);
}


/*texte studio page accueil*/
.texte_studio_accueil{
    position: absolute;
    margin-left: 62%;
    top: 161%;
}

.titre_accueil{
    position: absolute;
    top: 120%;
    color: wheat;
    text-align: center;
    margin-left: 1%;
}


.image_dragon, .dragon{
    cursor: pointer;
}

.image_dragon{
    width: 70%;
    margin: 44px 1%;
    transition: transform .1s;

}

.dragon{
    color: white;
}

.image_dragon:hover{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}

#listDatas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

