/*police d'ecriture*/
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/*footer*/
.footer-container,
.main aside {
    background: black;
    opacity: 0.8;
    border-top: 20px solid #e44d26;
}

/*couleur blanche des elements de la barre de navigation */
nav a:hover,
nav a:visited {
    color: white;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
    display : flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/*Affichage musique*/

iframe{
    border-radius:12px;
    width: 70%;
    height: 380px;
}

.musique{
    display : flex;
    align-items: center;
    align-content: center; 
}

/*barre de navigation qui disparait quand on scroll*/
body{
  background-color: #f4f4f4;
}

#header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,.8);
  height: 80px;
  
  transition: top 0.3s;
  transition-delay: 0.2s;
}

#header.hidden {
  top: -80px;
}

